---
layout: base_page
---

{% include base/tip.html %}
{% include message/messageTable.html inData = site.data.message apiName = 'messages' %}

<script type="text/javascript">

    var tableGen = new TableGen();
    tableGen.editFields = new Array('id', 'messageType', 'messageId', 'unitId', 'vesselVisitId', 'billNo', 'manual', 'status', 'reason', 'sendTime', 'createTime', 'notes', 'messageDetail');
    tableGen.apiName = 'messages';
    tableGen.modalID = 'myModal';
    tableGen.tableID = 'table';
    //tableGen.validates = {userName: "notEmpty", password: "notEmpty"};
    tableGen.setTable = function (inTable) {
        inTable.bootstrapTable({
            height: $(window).height(),
            columns: [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            }, {
                title: 'ID',
                field: 'id',
                align: 'center',
                sortable: true,
                width: "6%",
                cellStyle: tableGen.formatTableCell
            }, {
                title: '报文类型',
                field: 'messageType',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '报文ID',
                field: 'messageId',
                align: 'center',
                width: "14%",
                cellStyle: tableGen.formatTableCell
            }, {
                title: '箱号',
                field: 'unitId',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '航次',
                field: 'vesselVisitId',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '提单号',
                field: 'billNo',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '处理方式',
                field: 'manual',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '报文状态',
                field: 'status',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '状态原因',
                field: 'reason',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '发送日期',
                field: 'sendTime',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '创建日期',
                field: 'createTime',
                align: 'center',
                visible: false,
                cellStyle: tableGen.formatTableCell
            },{
                title: '备注',
                field: 'notes',
                align: 'center',
                visible: false,
                cellStyle: tableGen.formatTableCell
            },{
                title: '报文详情',
                field: 'messageDetail',
                align: 'center',
                visible: false,
                cellStyle: tableGen.formatTableCell
            }, {
                title: '操作',
                field: 'operate',
                align: 'center',
                valign: 'middle',
                width: "8%",
                formatter: tableGen.operateFormatter,
                events: operateEvents
            }]
        });
    }

    window.operateEvents = tableGen.operationEvent();

    tableGen.bind();

</script>